<!-- sidebar menu -->
<div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
  <div class="menu_section">
    <ul class="nav side-menu">
      <li><a><i class="fa fa-home"></i> 首页 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/admin">总览</a></li>
          <li><a href="/admin/table">总表</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-edit"></i> 人员管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="/admin/staff/show">显示人员信息</a></li>
          <li><a href="/admin/staff/edit">更新人员信息</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-desktop"></i> 组织管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="javascript:;">中心</a></li>
          <li><a href="javascript:;">部门</a></li>
          <li><a href="javascript:;">科室</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-table"></i> 岗位管理 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="javascript:;">职务</a></li>
          <li><a href="javascript:;">职级</a></li>
          <li><a href="javascript:;">岗位</a></li>
          <li><a href="javascript:;">状态</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-bar-chart-o"></i> 重点工作 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="javascript:;">KPI类</a></li>
          <li><a href="javascript:;">非KPI类</a></li>
          <li><a href="javascript:;">Others</a></li>
        </ul>
      </li>
      <li><a><i class="fa fa-clone"></i>智力资本 <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
          <li><a href="javascript:;">专利</a></li>
          <li><a href="javascript:;">流程</a></li>
          <li><a href="javascript:;">知识</a></li>
          <li><a href="javascript:;">数据库</a></li>
          <li><a href="javascript:;">kown-how</a></li>
          <li><a href="javascript:;">其他</a></li>
        </ul>
      </li>
    </ul>
  </div>
</div>
<!-- /sidebar menu -->