<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Daily information - <%= title %></title>

    <!-- Bootstrap -->
    <link href="/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Font Awesome -->
    <link href="/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- NProgress -->
    <link href="/vendors/nprogress/nprogress.css" rel="stylesheet">

    <!-- Custom Theme Style -->
    <link href="/build/css/custom.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
    <style>
      .pagination{
        margin: 0;
      }
    </style>
  </head>

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index.html" class="site_title"><i class="fa fa-info-circle"></i> <span>Daily information</span></a>
            </div>
            <div class="clearfix"></div>
            <% include layout-sidebar.ejs %>
          </div>
        </div>

        <% include layout-top-menu.ejs %>

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h2><%= title %> <small><%= centreInfo.centre %></small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                      <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                      </li>
                      <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                          <% for(var i=0; i < deptList.length; i++){ %>
                              <li><a href="javascript:void(0)"><%= deptList[i].dept %></a></li>
                          <% } %>
                        </ul>
                      </li>
                      <li><a class="close-link"><i class="fa fa-close"></i></a>
                      </li>
                    </ul>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="toolbar">
                      <a class="btn btn-sm btn-primary" href="/admin/staff/add">新入职</a>
                    </div>
                    <table id="table"></table>
                  </div>
                </div>
                </div>
              </div>

          </div>
        </div>
        <!-- /page content -->
        <!-- modals -->
        <% include ./modal-fom-change.ejs %>
        <% include ./modal-fom-dismiss.ejs %>
        <footer></footer>
      </div>
    </div>

    <!-- jQuery -->
    <script src="/vendors/jquery/dist/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="/vendors/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="/vendors/fastclick/lib/fastclick.js"></script>
    <!-- NProgress -->
    <script src="/vendors/nprogress/nprogress.js"></script>

    <!-- self -->
    <script src="/bootstrap-table/dist/bootstrap-table.js"></script>
    <script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
    <script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
    <script src="/bootstrap-table/lib/tableExport.js"></script>

    <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
    <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
    <script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="/build/js/custom.min.js"></script>

    <script src="/javascripts/base64.js"></script>

<!--     <script src="/crypto-js.js"></script>
    <script src="/javascripts/crypto-aes.js"></script> -->

    <script>
      var $table = $('#table');
      var deptId = $('#dataSpan').data('deptid');
      window.operator = {
        'click [title=离职]': function (e, value, row, index) {
            $('#dimission').modal('show');
            $('#dimission form input.sid').val(row.sid);
            $('#dimission form input.name').val(row.name);
            $('#dimission form input.userid').val(row.userid); 
        },
        'click [title=调转]': function (e, value, row, index) {
            $('#change').modal('show');
            $('#change form input.sid').val(row.sid);
            $('#change form input.name').val(row.name);
            $('select[name=centre]').val('');
            $('select[name=dept] option:gt(0)').remove();
            $('select[name=office] option:gt(0)').remove();
        }
    };
      // $table.on('post-header.bs.table',function(){
      //   $('.fixed-table-header').css('display','none');
      // });
      $table.bootstrapTable({
          url: '/fom/bootstrapTable',
          // height: window.innerHeight - 70,
          responseHandler: function (res) {
              for (var i = 0; i < res.length; i++) {
                  res[i].rid = i + 1;
              }
              return res;
          },
          pageNumber: 1,
          pageSize: 12,
          pageList: '[20, 50, 100, ALL]',
          pagination: true,
          paginationLoopz: true,
          search: true,
          idField: 'sid',
          showColumns: true,
          showExport: true,
          showRefresh: true,
          toolbar: '#toolbar',
          cache: false,
          // detailView: true,
          // detailFormatter: function (value, row , index) {
          //      return '<p><b>' + row.postType + '</b></p>' +
          //     '<p>' + row.postDescribe.replace(new RegExp('\n','gm'),'<br/>') + '</p>';
          // },
          columns: [{
              field: 'rid',
              title: '#',
              align: 'center',
              valign: 'middle',
              // visible: false
          }, {
              field: 'dept',
              title: '部门',
              align: 'center',
              valign: 'middle',
              // visible: false
          }, {
              field: 'office',
              title: '科室',
              align: 'center',
              valign: 'middle',
          }, {
              field: 'name',
              title: '姓名',
              align: 'center',
              valign: 'middle',
          },{
              field: 'userid',
              title: '员工号',
              align: 'center',
              valign: 'middle'
          },{
              field: 'gender',
              title: '性别',
              align: 'center',
              valign: 'middle'
          },{
              field: 'grade',
              title: '职级',
              align: 'center',
              valign: 'middle'
          }, {
              field: 'mainPost',
              title: '主岗',
              align: 'center',
              valign: 'middle'
          },{
              field: 'subPost',
              title: '次岗',
              align: 'center',
              valign: 'middle'
          },{
              field: 'postType',
              title: '岗位类别',
              align: 'center',
              valign: 'middle',
              // visible: false
          },{
              field: 'state',
              title: '状态',
              align: 'center',
              valign: 'middle'
          },{  
              field: 'bz',
              title: '备注',
              visible: false,
              align: 'center',
              valign: 'middle'
          },{
              field: 'operator',
              title: '操作',
              events: operator,
              align: 'center',
              valign: 'middle',
              // width: '10%',
              // visible: false,
              formatter: function (value, row, index) {
                  var sid_code = base64encode(row.sid + '');   //  sid 加密处理
                  // alert(sid_code);
                  return '<div class="btn-group" role="btn-group">' +
                      // '<button class="op btn btn-default btn-sm" title="离职">' +
                      '<i class="glyphicon glyphicon-remove" title="离职"></i> ' + 
                      // '</button>' +
                      // '<button class="op btn btn-default btn-sm" title="调转">' +
                      '<i class="glyphicon glyphicon-repeat" title="调转"></i> ' +
                      // '</button>' +
                      '<a href="/admin/staff/show?sid_code=' + sid_code + '">' + 
                      '<i class="glyphicon glyphicon-eye-open" title="显示"></i> ' + 
                      '</a>'+ 
                      '<a href="/admin/staff/edit?sid_code=' + sid_code + '">' + 
                      '<i class="glyphicon glyphicon-pencil" title="修改"></i> ' + 
                      '</a>'+ 
                      '</div>';
              }
          }]
      });

      // 日期选择框
    $('input.date').datepicker({
        format: "yyyy-mm-dd",
        weekStart: 7,
        maxViewMode: 1,
        language: "zh-CN",
        // daysOfWeekDisabled: "0,6",
        // daysOfWeekHighlighted: "0,6",
        autoclose: true,
        todayHighlight: true,
        // startDate: new Date()
    }).on('show', function (e) {
        e.preventDefault();
        e.stopPropagation(); // 禁止触发父元素事件
    }).on('hide', function (e) {
        e.stopPropagation(); // 禁止触发父元素事件
    });

      // 根据中心获取部门
    $('#change').on('shown.bs.modal', function () {
        $('select[name=centre]').change(function(){
            var centreId = $(this).val();
            $.ajax({
                url: '/user/fom/get/deptList?centreId=' + centreId,
                success: function(result){
                    $('select[name=dept] option:gt(0)').remove();
                    for(var i = 0 ; i< result.length; i++){
                        var $optionHtml = $('<option value="' + result[i].id + '">' + result[i].dept + '</option>');
                        $('select[name=dept]').append($optionHtml);
                    }
                }
            });
        });
        $('select[name=dept]').change(function(){
            var deptId = $(this).val();
            $.ajax({
                url: '/user/fom/get/officeList?deptId=' + deptId,
                success: function(result){
                    $('select[name=office] option:gt(0)').remove();
                    for(var i = 0 ; i< result.length; i++){
                        var $optionHtml = $('<option value="' + result[i].id + '">' + result[i].office + '</option>');
                        $('select[name=office]').append($optionHtml);
                    }
                }
            });
        });
    });
    // 表单验证
    $('#change form').validate({
        rules: {
            centre: "required",
            // dept: "required",
            // office: "required"
        },
        errorClass: 'text-danger'
    });
    $('#dimission form').validate({
        rules: {
            leave_date: 'required',
            bz: {
                maxlength: 20
            }
        },
        errorClass: 'text-danger'
    });
    </script>
  </body>
</html>
