<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p><a href="/todo">todo list</a></p>
    <p><a href="/fom">fom page</a></p>
    <p><a href="/login">login page</a></p>
    <p><a href="/user/fom">用户fom管理页</a></p>
    <p><a href="/user/fom/add">部门添加人员页面</a></p>
  </body>
</html>
