<% include ./layout/head.ejs %>
<!-- special css -->
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css"> -->
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<style>
    body{
        background-color: #eee
    }
    .container-fluid{
        padding: 0;
    }
</style>
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Daily Information</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <!-- <li class=""><a href="#">人员FOM</a></li>
                        <li class=""><a href="#">重点工作</a></li> -->
                    </ul>
                
                  <form class="navbar-form navbar-right" role="form" method="POST" action="/login">
                    <div class="form-group">
                      <label class="sr-only" for="name">用户名</label>
                      <input type="text" class="form-control" name="username" placeholder="请输入用户名">
                    </div>
                    <div class="form-group">
                      <label class="sr-only" for="name">密码</label>
                      <input type="password" class="form-control" name="password" placeholder="请输入密码">
                    </div>
                    <button type="submit" class="btn btn-primary">登陆</button>
                  </form>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% include ./layout/alertMessage.ejs %>
    </div>
    <!-- <div class="jumbotron"> -->
      <div class="container">
        <div class="page-header">
          <h2>欢迎访问 <mark>工作信息化</mark> 网站 <small> DBG 信管中心</small></h2>
        </div>
        
      </div>
<!--      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="/images/upload/1.png" alt="...">
            </a>
          </div>
          <div class="col-lg-4 col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="/images/upload/2.png" alt="...">
            </a>
          </div>
          <div class="col-lg-4 col-xs-6 col-md-3">
            <a href="#" class="thumbnail">
              <img src="/images/upload/3.png" alt="...">
            </a>
          </div>
        </div>

         <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="/images/upload/1.png" alt="..." width="64px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">人员FOM</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="/images/upload/2.png" alt="..." width="64px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">重点工作</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div>
        <div class="media">
          <div class="media-left media-middle">
            <a href="#">
              <img class="media-object" src="/images/upload/3.png" alt="..." width="64px">
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">智力资本</h4>
            Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
          </div>
        </div> 
    </div> -->
    <div class="container-fluid">
      <% include ./layout/carousel.ejs %>
    </div>
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script> -->
<!-- self -->
<!-- <script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
<script src="/bootstrap3-editable/js/bootstrap-editable.js"></script> -->
<!-- personal -->
<script src="/javascripts/self.js"></script> 

<!-- <script src="/crypto-js.js"></script>
<script src="/javascripts/crypto-aes.js"></script>

<script src="/javascripts/base64.js"></script>

<script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script> -->
<script>
$(function(){

})
</script>
<% include ./layout/foot.ejs %>