<% include layout/head.ejs %>
</head>
<body>
<% include layout/nav.ejs %>
<div class="container" id="login">
    <div class="row" id="header">
        <div class="col-lg-4 col-lg-offset-4">
            <h2 class="text-center">管理员登陆</h2>
            <p class="lead"></p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label for="username" class="sr-only">用户名</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                        <input type="text" name="username" class="form-control" id="usernmae" placeholder="用户名">
                    </div>
                </div>
                <div class="form-group">
                    <label for="password" class="sr-only">密码</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-edit"></i></span>
                        <input type="password" class='form-control' name="passwd" id="passwd" placeholder="密码">
                    </div>
                </div>
                <div class="form-group">
                    <input type="reset" id="reset" value="重置" class="btn btn-warning col-lg-5">
                    <input type="submit" id="submit" class="btn btn-primary col-lg-5 col-lg-offset-2" value="登录">
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/javascripts/self.js"></script>
<!--</div>-->
<% include layout/foot.ejs %>