<!-- modal -->
<div class="modal fade" tabindex="-1" role="dialog" id="change">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">选择调入的组织</h4>
      </div>
      <form class="form-horizontal" method="POST" action="/user/fom/change">
        <input type="hidden" class="sid" name="id">
        <input type="hidden" class="name" name="name">
        <input type="hidden" name="oldDept" value="<%= deptInfo.dept %>">
      <div class="modal-body">
            <div class="form-group">
                <label for="" class="control-label col-lg-2">调入中心</label>
                <div class="col-lg-10">
                    <select name="centre" class="form-control">
                        <option value="">请选择</option>
                        <% for(var i =0; i< centreList.length; i++){ %>
                            <option value="<%= centreList[i].id %>"><%= centreList[i].centre %></option>
                        <% } %>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-lg-2">调入部门</label>
                <div class="col-lg-10">
                    <select name="dept" class="form-control">
                        <option value="">请选择</option>
                        
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label for="" class="control-label col-lg-2">调入科室</label>
                <div class="col-lg-10">
                    <select name="office" class="form-control">
                        <option value="">请选择</option>
                        
                    </select>
                </div>
            </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
        <button type="submit" class="btn btn-primary">保存</button>
      </div>
      </form>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->