<% include ../layout/head.ejs %>
<!-- special css -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<!-- <link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css"> -->
<!-- <link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css"> -->
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <div class="layout-head">
        <nav class="navbar navbar-default">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                            data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/user/fom"><%= deptInfo.dept %></a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="/user/fom">人员管理</a></li>
                    </ul>
                    <% include layout-nav-right.ejs %>
                </div><!-- /.navbar-collapse -->
            </div><!-- /.container-fluid -->
        </nav>
        <% include ../layout/alertMessage.ejs %>
    </div>
    <div class="container">
        <!-- <div class="content"> -->
        	
<!--             <ol class="breadcrumb">
              <li><a href="/user/fom">FOM管理</a></li>
              <li class="active">显示人员信息</li>
            </ol> -->
        <div style="margin-bottom:20px">
        	<h3>账号信息<small> - 登陆名：<%= user.username %></small></h3>
        </div>
        <div class="row">
	        <div class="col-lg-4">
	        	<form action="/user/c/passwd" method="POST" style="padding: 10px 0 ">
                    <input type="hidden" name="username" value="<%= user.username %>">
                    <div class="form-group">
                        <label for="" class="control-label">新密码</label>
                        <input type="password" class="form-control" name="newPasswd" placeholder="输入新密码">
                    </div>
                    <div class="form-group">
                        <label for="" class="control-label">重复新密码</label>
                        <input type="password" class="form-control" name="rePasswd" placeholder="再次输入新密码">
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-danger btn-block">提交</button>
                    </div>
                </form>
	        </div>
        </div>
        <!-- </div>   -->
    </div>    
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<!-- <script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script> -->
<!-- personal -->
<script src="/javascripts/self.js"></script> 
<!-- <script src="/javascripts/user/fom.js"></script> -->

<!-- <script src="http://static.runoob.com/assets/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script> -->
<script>
    $(function(){
    	// $('.data').css('font-size','0.9em');
    });
</script>
<% include ../layout/foot.ejs %>