<% include ../layout/head.ejs %>
<!-- special css -->
<!-- bootstrap -->
<link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<!-- 自定义 -->
<link rel="stylesheet" href="/stylesheets/style.css">
<body>
    <% include ../layout/nav.ejs %>
    <div class="container-fluid">
            <div class="row">
              <div class="col-lg-2" style="margin-top: 15px">
                <div class="list-group">
                      <a href="/fom" class="list-group-item">总览</a>
                      <a href="/fom/table" class="list-group-item active">详表</a>
                 </div>
              </div>
              <div class="col-lg-10">
                  <div id="toolbar">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                部门 <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu">
                                <!-- <li><a href="#">Action</a></li> -->
                                <% for(var i=0; i < deptList.length; i++){ %>
                                    <li><a href="javascript:void(0)"><%= deptList[i].dept %></a></li>
                                <% } %>
                            </ul>
                        </div>
                    </div>
                  <table id="table"></table>
              </div>
            </div>
        <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="change">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">选择调入的组织</h4>
          </div>
          <form class="form-horizontal" method="POST" action="/user/fom/change">
            <input type="hidden" class="sid" name="id">
          <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入中心</label>
                    <div class="col-lg-10">
                        <select name="centre" class="form-control">
                            <option value="">请选择</option>
                            <% for(var i =0; i< centreList.length; i++){ %>
                                <option value="<%= centreList[i].id %>"><%= centreList[i].centre %></option>
                            <% } %>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入部门</label>
                    <div class="col-lg-10">
                        <select name="dept" class="form-control">
                            <option value="">请选择</option>
                            
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">调入科室</label>
                    <div class="col-lg-10">
                        <select name="office" class="form-control">
                            <option value="">请选择</option>
                            
                        </select>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">保存</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    <!-- modal -->
    <div class="modal fade" tabindex="-1" role="dialog" id="dimission">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title text-danger">确定离职？</h4>
          </div>
          <form class="form-horizontal" method="POST" action="/user/fom/dimission">
            <input type="hidden" class="sid" name="id">
          <div class="modal-body">
                <div class="form-group">
                    <label for="" class="control-label col-lg-2">离职日期</label>
                    <div class="col-lg-10">
                        <input type="text" class="date form-control" name="leave_date" placeholder="离职日期">
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" class="control-label col-lg-2">离职原因</label>
                    <div class="col-lg-10">
                        <textarea rows="2" name="bz" class="form-control" placeholder="选填" style="width:100%;"></textarea>
                    </div>
                </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
            <button type="submit" class="btn btn-primary">确定</button>
          </div>
          </form>
        </div><!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
    </div>
</body>
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- self -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
<script src="/bootstrap3-editable/js/bootstrap-editable.js"></script>
<!-- personal -->
<script src="/javascripts/self.js"></script>
<script src="/javascripts/pages/fom-table.js"></script>

<% include ../layout/foot.ejs %>