<% include ../layout/head.ejs %>
<!-- special css -->
<link rel="stylesheet" href="/bootstrap-table/dist/bootstrap-table.css">
<link rel="stylesheet" href="/bootstrap3-editable/css/bootstrap-editable.css">
<link rel="stylesheet" href="/bootstrap-datepicker/dist/css/bootstrap-datepicker3.css">
<body>
    <% include ../layout/nav.ejs %>
    <div class="container">
        <div id="toolbar">
            <a class="btn btn-warning btn-sm" id="add"><i class="glyphicon glyphicon-plus"></i>添加</a>
        </div>
        <table id="table"></table>
    </div>
    <!-- add modal -->
    <% include ../modals/todolist-add.ejs %>
</body>
<!-- special script -->
<!-- bootstrap-table -->
<script src="/jquery/dist/jquery.js"></script>
<script src="/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bootstrap-datepicker/dist/js/bootstrap-datepicker.js"></script>
<script src="/bootstrap-datepicker/dist/locales/bootstrap-datepicker.zh-CN.min.js"></script>
<!-- self -->
<script src="/bootstrap-table/dist/bootstrap-table.js"></script>
<script src="/bootstrap-table/dist/locale/bootstrap-table-zh-CN.js"></script>
<script src="/bootstrap-table/dist/extensions/export/bootstrap-table-export.js"></script>
<script src="/bootstrap-table/lib/tableExport.js"></script>
<script src="/bootstrap-table/dist/extensions/editable/bootstrap-table-editable.js"></script>
<script src="/bootstrap3-editable/js/bootstrap-editable.js"></script>
<script src="/javascripts/self.js"></script> 
<script>
    window.delList = {
    'click [title=删除]': function (e, value, row, index) {
//      clickId = row.id;
      if (confirm('确定是否删除？便于操作简单，没有用户管理，尽量不要删除别人填写的内容')) {
        $.ajax({
          url: '/project/report/del/' + page,
          data: {
//            id: clickId
            id: row.id
          },
          method: 'POST',
          success: function (result) {
            $table.bootstrapTable('refresh');
          }
        });
      }else{
          alert(row.id);
      }
    }
  };
    $(function(){
        var $table = $('#table');
        $table.bootstrapTable({
            url: '/ajax/bootstrapTable/todo',
            height: window.innerHeight - 100,
            responseHandler: function (res) {
                for (var i = 0; i < res.length; i++) {
                    res[i].rid = i + 1;
                }
                return res;
            },
            search: true,
            idField: 'id',
            showColumns: true,
            showExport: true,
            showRefresh: true,
            toolbar: '#toolbar',
            cache: false,
            columns: [{
                field: 'rid',
                title: '#',
                valign: 'middle',
                align: 'middle'
            },{
                field: 'title',
                title: '标题',
                valign: 'middle',
                sortable: true
            }, {
                field: 'content',
                title: '内容',
                valign: 'middle'
            }, {
                field: 'result',
                title: '方向',
                valign: 'middle',
                visible: true
            }, {
                field: 'priority',
                title: '优先级',
                valign: 'middle'
            }, {
                field: 'officer',
                title: '负责人',
                valign: 'middle',
                visible: false
            }, {
                field: 'owner',
                title: '执行者',
                valign: 'middle',
                visible: true
            }, {
                field: 'state',
                title: '状态',
                valign: 'middle',
                sortable: true,
                editable: {
                    type: 'select',
                    source: [{
                            value: '等待中',
                            text: '等待中'
                        },
                        {
                            value: 'FS完成',
                            text: 'FS完成'
                        },
                        {
                            value: '开发完成',
                            text: '开发完成'
                        },
                        {
                            value: '测试完成',
                            text: '测试完成'
                        }
                    ],
                    url: '/project/dl',
                    success: function (response, newValue) {
                        //            alert(response);
                    }
                }
            }, {
                field: 'planFinishDate',
                title: '计划完成时间',
                valign: 'middle',
                editable: {
                  type: 'text',
                  url: '/project/dl',
                  validate: function (value) {
                    value = $.trim(value);
                    if (value && !/^([12]\d{3})(0\d|1[0-2])([0-2]\d|3[01])$/.test(value)) {
                        return '6位数字日期，请按规范填写'
                    }
                  }
                }
            }, {
                field: 'realFinishDate',
                title: '实际完成时间',
                valign: 'middle',
                editable: {
                    type: 'text',
                    url: '/project/dl',
                    validate: function (value) {
                        value = $.trim(value);
                        if (value && !/^([12]\d{3})(0\d|1[0-2])([0-2]\d|3[01])$/.test(value)) {
                            return '6位数字日期，请按规范填写'
                        }
                    }
                }
            }, {
                field: 'bz',
                title: '备注',
                valign: 'middle',
                visible: false,
                editable: {
                    type: 'textarea',
                    url: '/project/dl'
                }
            },{
                field: 'operator',
                title: '操作',
                valign: 'middle',
                events: delList,
                formatter: function (value, row, index) {
                    return '<a class="op" href="javascript:void(0)" title="删除">' +
                       '<i class="glyphicon glyphicon-trash text-danger"></i></a>';
                }
            }]
        });
        // 点击add按钮，显示addModal
        $('#add').click(function () {
            $('#addModal').modal('show');
            $('#errMessage').html('');
            getSelectList('priority');
            getSelectList('state');
        });
        // 点击add confirm，提交表单
        var $title = $('#title');
        var $content = $('#content');
        var $result = $('#result');
        var $priority = $('#priority');
        var $state = $('#state');
        var $owner = $('#owner');
        var $startDate = $('#startDate');
        var $planFinishDate = $('#planFinishDate');
        var $realFinishDate = $('#realFinishDate');
        $('#addConfirm').click(function(){
            var titleValue = $title.val().trim();
            var contentValue = $content.val().trim();
            var resultValue = $result.val().trim();
            var priorityValue = $priority.val().trim();
            var stateValue = $state.val().trim();
            var ownerValue = $owner.val().trim();
            var startDateValue = $startDate.val().trim();
            var planFinishDateValue = $planFinishDate.val().trim();
            var realFinishDateValue = $realFinishDate.val().trim();
            if(titleValue && contentValue && resultValue && stateValue && ownerValue && startDateValue && planFinishDate && realFinishDate){
                $.ajax({
                    url: '/todo/add',
                    method: 'POST',
                    data: {
                        title: titleValue,
                        content: contentValue,
                        result: resultValue,
                        priority: priorityValue,
                        state: stateValue,
                        owner: ownerValue,
                        startDate: startDateValue,
                        planFinishDate: planFinishDateValue,
                        realFinishDate: realFinishDateValue
                    },
                    success: function(r){
                        $('#addModal').modal('hide');
                        $title.val('');
                        $content.val('');
                        $result.val('');
                        $state.val('');
                        $priority.val('');
                        $owner.val('');
                        $startDate.val('');
                        $planFinishDate.val('');
                        $realFinishDate.val('');
                        $table.bootstrapTable('refresh');
                        $table.bootstrapTable('resetSearch', titleValue);
                    }
                });
            }else{
                $('#errMessage').html('<请填写完整>');
            }
        });
    });
</script>
<% include ../layout/foot.ejs %>